<h1>Catàleg d'elements</h1>

<app-formulari-cerca
  (cercaCanviada)="gestionarCerca($event)">
</app-formulari-cerca>

<!-- CARREGANT -->
<div *ngIf="elementService.carregant()">
  <p class="spinner">⏳ Carregant dades...</p>
</div>

<!-- ERROR -->
<div *ngIf="elementService.error()">
  <p class="error">{{ elementService.error() }}</p>
  <button (click)="reintentar()">Reintentar</button>
</div>

<!-- ÈXIT -->
<div *ngIf="!elementService.carregant() && !elementService.error()" class="grid-elements">
  <app-targeta-element
    *ngFor="let element of elementService.elements()"
    [element]="element">
  </app-targeta-element>
</div>